{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mb-4 text-white">{{ object.band_name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <!-- Use the custom class for the image -->
            <img src="{% if object.photo %}{{ object.photo.url }}{% else %}https://res.cloudinary.com/dzx1hyh89/image/upload/v1727076263/default-image_kfzhkf.jpg{% endif %}" 
                 class="img-fluid custom-img-details" alt="{{ object.band_name }}">
        </div>
        <div class="col-md-6">
            <h3 class="text-white">Band Description</h3>
            <p class="text-white">{{ object.description|safe }}</p>
        </div>
    </div>

    <!-- Conditionally show Edit and Delete buttons if the current user is the creator of the listing -->
    {% if user == object.created_by %}
    <div class="mt-4">
        <a href="{% url 'edit_listing' object.slug %}" class="btn btn-secondary">Edit Listing</a>
        <a href="{% url 'delete_listing' object.slug %}" class="btn btn-danger">Delete Listing</a>
    </div>
    {% endif %}

    <!-- Conditionally show Send Message button if the current user is not the creator of the listing -->
    {% if user.is_authenticated and user != object.created_by %}
    <div class="mt-4">
        <a href="{% url 'send_message' object.slug %}" class="btn btn-crimson">Send a Message</a>
    </div>
    {% endif %}

    <a href="{% url 'index' %}" class="btn btn-crimson mt-4">Back to Listings</a>
</div>
{% endblock %}
