{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-white">Send a message to {{ band_listing.created_by.username }}</h2>

    <form method="POST" class="form">
        {% csrf_token %}
        {{ form|crispy }}  <!-- Use crispy forms for styling -->
        <button type="submit" class="btn btn-crimson mt-3">Send Message</button>
    </form>

    <a href="{% url 'bandlisting_detail' band_listing.slug %}" class="btn btn-secondary mt-3">Cancel</a>
</div>
{% endblock %}
