{% extends 'base.html' %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h2 class="display-2 text-black">
                    404: Looks like you took a wrong turn down a shadowy corridor...
                </h2>
                <div class="my-5">
                    <h4>
                        There's no goth project lurking here, only the empty void. Try navigating back before the darkness claims you forever.
                        <a href="{% url 'index' %}" class="btn btn-lg rounded-0 text-uppercase py-3">
                            Return to Home Page
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}